In [20]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import plotly.express as px 
import spacy

**Reading the dataset**

In [21]:
df1 = pd.read_csv("zuri_unresolved_data.csv")
df1.head(20)

                                                 text  ... confidenceLevelScore
0                                  View my statements  ...             0.250000
1                                 I want my statement  ...             0.250000
2                                 I want my statement  ...             0.250000
3                                 I want my statement  ...             0.250000
4                             What is my filial limit  ...             0.250000
5   Please wants to send money to some one but it ...  ...             0.148148
6                                                  Hi  ...             1.000000
7                                        Brain Teaser  ...             1.000000
8                         I want to view my statement  ...             0.166667
9   Hello safaricom I really need help I've sent m...  ...             0.183824
10  hello. I have a problem with data consumption....  ...             0.236842
11  I know how to purchase data. My problem is you...  ...             0.166667
12                                           Abbsbjej  ...             0.000000
13                                            Abnsive  ...             0.000000
14                                           Whatever  ...             0.000000
15                                          One what?  ...             0.166667
16                                            Tell me  ...             0.250000
17                      I have problem with my number  ...             0.222222
18                       My problem is call diversion  ...             0.111111
19                              0719781841that number  ...             0.250000

[20 rows x 3 columns]

**Data Cleaning**</br></br>
This includes looking for null values and deciding on what to do with them for the purpose of coming up with a clean data

In [22]:
df1.shape

(711450, 3)

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711450 entries, 0 to 711449
Data columns (total 3 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   text                  706930 non-null  object
 1   intent                462044 non-null  object
 2   confidenceLevelScore  711450 non-null  float64
dtypes: float64(1), object(2)
memory usage: 16.3+ MB

In [24]:
df1.isnull().sum()

text                      4520
intent                  249406
confidenceLevelScore         0
dtype: int64

In [25]:
df1_clean = df1.dropna()
df1_clean.head()

                      text             intent  confidenceLevelScore
0       View my statements                prs                  0.25
1      I want my statement    mpesa_statement                  0.25
2      I want my statement    mpesa_statement                  0.25
3      I want my statement    mpesa_statement                  0.25
4  What is my filial limit  transaction_limit                  0.25

In [26]:
df1_clean.shape

(462044, 3)

# Named Entity Recognition (NER)

Named Entity Recognition is the process of NLP which deals with identifying and classifying named entities. The raw and structured text is taken and named entities are classified into persons, organizations, places, money, time, etc. Basically, named entities are identified and segmented into various predefined classes.

In [41]:
import spacy
from spacy import displacy

NER = spacy.load("en_core_web_sm")

In [42]:
raw_text="The Indian Space Research Organisation or is the national space agency of India, headquartered in Bengaluru. It operates under Department of Space which is directly overseen by the Prime Minister of India while Chairman of ISRO acts as executive of DOS as well."

In [43]:
text1= NER(raw_text)

In [44]:
for word in text1.ents:
    print(word.text,word.label_)

The Indian Space Research Organisation ORG
the national space agency ORG
India GPE
Bengaluru GPE
Department of Space ORG
India GPE
ISRO ORG
DOS ORG

In [45]:
displacy.render(text1,style="ent",jupyter=True)